footer{
    
    background-color: black;
    height: 170px;  
}

ul{
    display: flex;
}

li {
    list-style: none;
    margin: auto
}

i{
    margin-top: 40px;
    color: whitesmoke;
    font-size: 20px;
}

p{
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
}

i:hover{
    font-size: 21px;
    color: bisque;
}
