<body>
  <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
    <div>
      <img
        class="mx-auto"
        style="
          border-radius: 60px;
          width: 200px;
          height: 200px;
          margin-bottom: 20px;
          margin-top: 20px;
          box-shadow: 2px 3px 10px 2px black;
        "
        src="/images/about.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="mx-auto"
        style="
          border-radius: 60px;
          width: 200px;
          height: 200px;
          margin-top: 20px;
          box-shadow: 2px 3px 10px 2px black;
        "
        src="/images/about-2.jpg"
        alt=""
      />
    </div>

    <br /><br />

    <p>
      Wir sind ein traditionsreiches Familienunternehmen im Herzen von Wien. Mit
      viel Engagement und Herzlichkeit kümmern wir uns mit Freude um Ihre
      Anliegen. Für unser Familienunternehmen sind Vertrauen, Ehrlichkeit und
      Empathie wichtige Bausteine. Seit Generationen wurde ein Augenmerk auf
      höchste Qualität gepaart mit diesen Werten gelegt. Wir sind Experten für
      zeitlosen Diamantschmuck, hochwertige italienische Schmuckkreationen,
      Verlobungs- und Eheringe, sowie hochwertige Schweizer und Deutsche
      Armbanduhren. Abgerundet wird unser erlesenes Sortiment mit feinen
      Schreibwaren und Accessoires von Montblanc.
    </p>

    <p>
      Damit Sie uns besser kennenlernen können, wollen wir uns mit den folgenden
      Zeilen an Sie persönlich wenden. Als traditionsreiches Uhren-und
      Schmuckfachgeschäft im Herzen Wiens entführen wir Sie in unseren
      Verkaufs-und Beratungsräumen in die Welt der außergewöhnlichen Zeitmesser
      und edlen Schmuckstücke : In entspannter Atmosphäre tauchen Sie ein in die
      faszinierende Welt handgearbeiteten italienischen Goldschmucks, werden
      inspiriert von den neuesten Brillantkreationen unserer Goldschmiede und
      Schmuckdesigner oder werfen einen Blick auf grandiose technische
      Werkstücke der Schweizer Uhrmacherkunst. Wir haben stets ein offenes Ohr
      für Ihre Wünsche und sind gerne für Sie da! Wenn Sie Fragen haben, würden
      wir uns sehr über einen persönlichen Austausch freuen. Sie können hierfür
      gerne auch unser Kontaktformular verwenden.
    </p>

    <br />
  </div>
</body>
