<body>
  <div id="form" class="row row-cols-lg-1 row-col-sm-1 mx-auto">
    <label style="margin-top: 30px" for="firstname">First Name</label>
    <input type="text" id="firstname" placeholder="firstname" />
    <label style="margin-top: 30px" for="lastname">Last Name</label>
    <input type="text" id="lastname" placeholder="lastname" />

    <label style="margin-top: 30px" for="comments">Comments:</label><br />
    <textarea
      style="margin-bottom: 40px"
      id="comments"
      name="comments"
      rows="4"
      cols="50"
      placeholder="Enter your comments here"
    ></textarea>
    <input type="submit" value="Submit" />
  </div>
</body>
