body{
    background-image: url(/images/background.jpg);
    background-position:top 30%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;

}

.container{
    position: absolute;
    left: 5%;
    top: 30%;
}

h3{
    font-size: 50px;
    color: black;
    text-shadow: 1px 1px 15px  whitesmoke;
}

p{
    position: absolute;
    margin-top: 40px;
    color: rgba(245, 245, 245, 0.331);
    text-shadow: 1px 1px 15px  whitesmoke;
    left: 10%;
}

b{
    color: black;
}

